<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Names:</h1>
    <ul>
      <% if (names.length) { %> <% names.forEach(({ name, lastname }) => { %>
      <li>
        <a href="#"><%= name %></a>
      </li>
      <% }) %> <% } %>
    </ul>
    <ul>
      <% if (contacts.length) { %> <% contacts.forEach(({ name, link }) => { %>
      <li>
        <a href="#"><%= name %></a>
        <span><%= link %></span>
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
